<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="{% block body_class %}{% endblock %}">
    <header>
        <h1>Where Learning meets Innovation</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('courses') }}">Courses</a></li>
            <li><a href="{{ url_for('forum') }}">Forum</a></li>
            {% if 'username' in session %}
                <!-- Profile Section -->
                <div id="profile-container">
                    <a href="{{ url_for('profile') }}" id="profile-link">
                        <img src="{{ url_for('static', filename='images/profile.jpg') }}" alt="Profile Picture" id="profile-picture">
                        <span id="profile-name">{{ session.username }}</span>
                    </a>
                    <div id="dropdown-menu">
                        <a href="{{ url_for('logout') }}">Logout</a>
                    </div>
                </div>                
            {% else %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
            <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Educational Website. All rights reserved.</p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>